//npm.pkg.github.com/:_authToken=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

@szkj-web-he:registry=https://npm.pkg.github.com
@possie-engine:registry=https://npm.pkg.github.com
@datareachable:registry=https://npm.pkg.github.com
